aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
contrib/Makefile
contrib/Makefile.in
depcomp
INSTALL
install-sh
libtool
ltmain.sh
m4/*.m4
Makefile
Makefile.in
man/Makefile
man/Makefile.in
missing
src/.deps/
src/Makefile
src/Makefile.in
src/*.o
stamp-h1
