aclocal.m4
autom4te.cache/
autoscan.log
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.scan
contrib/Makefile
contrib/Makefile.in
depcomp
INSTALL
install-sh
libtool
ltmain.sh
m4/*.m4
Makefile
Makefile.in
man/Makefile
man/Makefile.in
missing
stamp-h1
tags
