# Wildcard + in any subdir.
*.o

# Exact filename in any subdir.
.deps
.dirstamp
Makefile
Makefile.in

# Exact wildcard, e.g., not in subdirs.
/tests/*.log
/tests/*.trs

# Exact match, if a directory then everything in directory.
/.version
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/configure
/dhcpd-pools
/INSTALL
/libtool
/m4/
/man/dhcpd-pools.1
/stamp-h1
/test-suite.log
/tests/outputs/
